.square{
    width: 3em;
    height: 3em;
    background-color: whitesmoke;
    border: 1px solid black;
    color: black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.X{
    color: blue;
}

.O{
    color: red;
}
/*todo udelat responzivni*/
.gameRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
}

.board{
    /*margin-top: 20px;*/
    padding: 1em;
    background-color: #333;
    border-radius: 10px;
}

.playerRow{
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: #333;
}

.playerContent{
    display: flex;
    align-items: center;
}

.canPlay{
    width: 10px;
    background-color: gold;
}

.cannotPlay{
    width: 10px;
}

.timeClock{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    color: black;
    border: solid 1px;
    border-radius: 5px;
    width: 100px;
}

.chatCol{
    display: flex;
    align-items: center;
}

.endGame-info{
    color: whitesmoke;
}

