body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: rgb(237, 241, 252);
}

/*  ---menu---  */

li:not(.login) {
    float: left;
    list-style-type: none;
}

li a {
    color: black;
    text-decoration: none;
    font-size: 15px;
}

ul li a:hover {
    color: rgb(61, 61, 61);
}

.menu {
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: rgb(127, 133, 112) solid 1px;
    background-color: white;
}

.login {
    float: right;
    list-style-type: none;
}

.login a {
    color: blue;
}

.logo {
    padding-left: 1em;
    padding-top: 2px;
}

@media only screen and (max-width: 710px) {
    li:not(.login):not(.mobileMenu) {
        display: none;
    }
    ul .mobileMenu {
        display: inline;
    }
    .login {
        float: none;
    }
}
/* mobileMenu doesnt display when the width is over 710px */
.mobileMenu {
    display: none;
}

li:not(.logo):not(.myLinks) {
    margin: 18px;
}

ul .myLinks a {
    color: black;
    text-decoration: none;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* when width is less than 710px, javascript changes .myLinks between display: none and display: block when clicked on curtain navigation menu */
ul .myLinks {
    display: none;
}

/* ---content--- */

.main {
    margin: auto;
    width: 930px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 3em;
}

.inMain {
    margin: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
}

/* ---mainPage--- */


th {
    padding-bottom: 15px;
}

tr {
    line-height: 50px;
}

td {
    padding-left: 8px;
    padding-right: 8px;
}

td a {
    color: rgb(62, 102, 106);
    text-decoration: none;
    white-space: nowrap;
}

td a:hover {
    text-decoration: underline;
}

td:not(.hidden) {
    border-bottom: solid rgb(94, 93, 93) 1px;
}

td:first-child, th:first-child {
    overflow: hidden;
    width: 460px;
    display: block;
    margin-left: 4em;
}

th:nth-child(2) {
    padding-right: 2em;
}

.paginationBar {
    text-align: right;
    margin-right: 20px;
    font-size: 16px;
}
.paginationBar a:hover {
    color: black;
}

/* ---createDemand--- */

input {
    margin-bottom: 1em;
}

label {
    display: block;
}

.czechDiacritics {
    font-family: Arial, Helvetica, sans-serif;
}

.required {
    color: red;
    font-size: 20px;
    font-weight: normal;
}

.submit {
    background-color: rgb(21, 89, 78);
    color: white;
    padding: 10px;
    margin-top: 2em;
    display: block;
}

.error {
    color: red;
    margin-left: 1em;
}

.displayBlock {
    display: block;
    margin-top: 1em;
}

.specify {
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin-top: 1em;
    margin-bottom: 15px;
}

.submitError {
    display: block;
    margin-left: 0;
}

/* ---skinSelection--- */

.firstSkin {
    width: 400px;
    height: 200px;
    display: inline-block;
}
.secondSkin {
    width: 400px;
    height: 200px;
    display: inline-block;
    margin-left: 2em;
}

h3 {
    text-align: center;
    margin-bottom: 2em;
    font-size: 20px;
}

/* ---demandShowUp---*/

.nameOfDemand {
    margin-top: 1em;
    font-size: 20px;
    font-weight: bold;
    color: rgb(16, 26, 40);
    white-space: nowrap;
    overflow: auto;
}

p {
    margin-top: 2em;
    margin-bottom: 2em;
    word-wrap: break-word;
}

/* ---login--- */

.loginFailure {
    color: red;
    display: block;
}

.green {
    color: green;
}

/* ---print--- */

@media print {
    .menu {
        display: none;
    }
    .submit {
        display: none;
    }
    td:nth-child(4), td:nth-child(5) {
        display: none;
    }
}