body {
    margin: 0;
    padding: 0;
    background-image: url(email-pattern.png);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    /* The image used */
   
}

/* ---menu--- */

.menu {
    background-color: rgb(28, 36, 50); 
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

.menu li a {
    color: white;
    text-decoration: none;
}

.menu li a:hover {
    color: orange;
}

.menu .logo, .menu .mobileMenu, .menu .myLinks {
    display: none;
}

/* ---content--- */

.main {
    width: 870px;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.inMain {
    text-align: center;
    border: solid rgb(170, 173, 173) 1px;
    background-color: rgb(249, 249, 249);
    border-radius: 8px;
    padding-bottom: 5px;
}

/* ---mainPage--- */

table {
    display: inline;
    text-align: center;
}

th:not(.hidden) {
    border-bottom: black solid 1px;
    font-size: 20px;
    padding: 10px;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 4px;
    padding-right: 4px;
}

td a {
    color:black;
    text-decoration: none;
    white-space: nowrap;
}

td a:hover {
    text-decoration: underline;
}

td:first-child, th:first-child {
    overflow: hidden;
    width: 460px;
    display: block;
}

.paginationBar {
    margin-top: 1em;
    margin-bottom: 1em;
}

.paginationBar a:hover {
    color: black;
}

/* ---createDemand--- */

.required {
    font-size: 20px;
    color: red;
}

.error {
    color:red;
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
}

.displayBlock {
    display: block;
    margin-top: 1em;
}

.submit {
    margin-top: 20px;
    margin-bottom: 20px;
}

.specify {
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin-top: 30px;
    margin-bottom: 15px;
}

h4 {
    margin-bottom: 5px;
}

/* ---skinSelection--- */

.firstSkin {
    width: 400px;
    height: 200px;
    display: inline-block;
}
.secondSkin {
    width: 400px;
    height: 200px;
    display: inline-block;
    margin-left: 2em;
}

h3 {
    text-align: center;
    margin-bottom: 2em;
    font-size: 20px;
}

/* ---demandShowUp--- */

.nameOfDemand {
    margin-top: 1em;
    font-size: 20px;
    font-weight: bold;
    color: rgb(16, 26, 40);
    white-space: nowrap;
    overflow: auto;
}

p {
    margin-top: 2em;
    margin-bottom: 2em;
    word-wrap: break-word;
}

/* ---login--- */

input {
    margin-top: 1em;
}

.loginFailure {
    color: red;
    display: inline-block;
    margin-top: 1em;
}

.green {
    color: green;
    margin-bottom: 1em;
}

/* ---print--- */

@media print {
    .menu {
        display: none;
    }
    .submit {
        display: none;
    }
    td:nth-child(4), td:nth-child(5) {
        display: none;
    }
}