.flexando{
    display:flex;
    flex-direction: column;
    justify-content: left !important;
    align-items: flex-start !important;
    /*color: var(--white) !important;*/
    padding-left:15px;
}

.colorBack{
    /*margin-left:75px;*/
    background-color:rgb(46, 49, 53);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
     padding:2.5em;
     /* width: 90vw;  */
}
.mainText{
    font-size: 3vh ;
}
.paddingButton{
     padding: 1em; 
    
}
.paddingButton .btn{
    justify-content: left!important;
    border-radius: 10px;
    min-width: 250px;
}

@media(max-width:700px){
    .colorBack{
        background-color:transparent;
        margin-left: 1em;

    }

    .paddingButton{
        padding: 0.5em; 
    }
}
@media(max-width:500px){
    .colorBack{
        padding:0;
    }
    .paddingButton{
        padding: 0.5em; 
    }
}