.lobby-type .row .btn-group{
    display: flex;
    max-width: 100px;
    justify-content: space-between;
}
.name-row {
	display: flex;
	margin: 30px 0px;
    width: 100%;
}
.name-row h1 {
    display: flex;
    width: 100%;
}
.setting-two-buttons{
    max-width: 250px !important;
}
.setting-three-buttons{
    max-width: 375px !important;
}
.settings .row{
    margin-top: 30px;
}
.top-row{
    justify-content: space-between;
    margin-top: 50px;
}
.copy-link{
    max-width: 500px;
}