.title {
	font-size: x-large;
	text-align: center;
	color: white;
	background-color: gray;
	padding: 1%;
	border-radius: 12px;
	margin: auto;
}

.profile-navbar {
	font-size: large;
	padding: 1.5%;
	border-radius: 12px;
}

.profile-navbar a {
	border-radius: 10px;
	color: white !important;
}

.profile-navbar a:hover {
	background-color: darkslategrey;
	border-radius: 10px;
}

.profile-navbar a.selected {
	border-radius: 10px;
	background-color: darkgray;
}

.stat-name {
	font-size: large;
	text-align: center;
	color: white;
	background-color: gray;
	padding: 1% 1% 1% 1%;
	border-radius: 12px;
	margin: auto;
	max-width: 30%;
}

.friendlist .list-group-item {
	text-align: center;
	color: black;
	background-color: rgb(211, 211, 211);
	border-radius: 15px;
	margin-bottom: 15px;
	padding: 1.5%;
	font-size: large;
}

.list-group-item svg {
	padding: 1%;
}

.list-group-item svg:hover {
	cursor: pointer;
}

.dot {
	display: flex;
	justify-self: center;
	margin-left: 5px;
	height: 15px;
	width: 15px;
	background-color: rgb(0, 255, 0);
	border: 0.5px solid black;
	border-radius: 50%;
}

.table {
	border-collapse: separate;
	border-spacing: 0 8px;
	margin-bottom: 0;
}

table td:nth-child(odd) {
	font-size: large;
	text-align: center;
	color: black;
	background-color: lightgray;
	border-radius: 12px;
}

table td:nth-child(even) {
	font-size: larger;
	font-weight: 600;
	text-align: center;
	color: white;
	border-radius: 10px;
}
.match-history .row {
	text-align: left;
	line-height: 60px;
	background-color: green;
	border-radius: 15px;
	transition: all 250ms ease-out;
}

.mr {
	margin-right: 15px;
}

.match-history .col:last-child {
	margin-right: 0px;
}

.match-history .loss {
	background-color: rgb(133, 0, 0);
}

.match-history .mr:hover {
	background-color: rgb(0, 187, 16);
}

.match-history .loss:hover {
	background-color: rgb(196, 17, 17);
}
.my-auto{
    text-align: center;
}
.mb-3{
    background-color: transparent !important;
}