.chat{
    margin-left: 20px;
    padding: 10px;
    width: 500px;
    height: 700px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
}

.messages{
    margin: 5px;
    display: flex;
    flex-grow: 3;
    background-color: ghostwhite;
    border-radius: 10px;
    color: black;
}

.chatMessage{
    margin: 10px;
}