.friends-title {
  margin-bottom: 15px;
  padding-bottom: 1.75%;
  border-bottom: 2px dotted black; 
  background-color: inherit;
  top: -1px !important;
}

/* width */
::-webkit-scrollbar {
  width: 18px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: darkgrey;
  border-radius: 10px;
  border: 1px solid black;
}

.list-group-item {
  margin-right: 10px;
}

.list-group .friends-title svg {
  margin-left: 5px;
}

.friendlist {
  max-height:400px;
  overflow: auto;
  margin-bottom: 8px;
}