.dropdown-toggle{
    display: flex;
    background-color: transparent !important;
    border: 0;
    width: 100%;
    height: 100%;
    padding: 0 !important;
    align-items:center;
    text-align: left;
}

.dropdown-toggle:hover{
    background-color: transparent;
    color: rgb(30, 164, 226)!important;
}
.dropdown-toggle:focus{
    background-color: transparent !important;
    box-shadow: none !important;
    color: rgb(30, 164, 226);
}

.dropdown-toggle::after{
    content: none;
}
.dropdown-menu{
    left: 200px;
    margin: 0 0 !important;
    transform: none !important;
    background-color: transparent !important;
    position: relative !important;
    border: 0;
}
.LeBlV {
    height: auto !important;
}
.side-icon{
    align-self: baseline;
    margin-top: 4px;
}
.dropdown-item:hover{
    background-color: rgba(0, 0, 0, 0.233) !important;
}
.link:hover{
    color: rgb(30, 164, 226)  !important;
}

.gAMYCL .head-div{
    flex-direction: row-reverse;
}

.zwYsQ{
    background: var(--sidebar) !important;
}