    body {
        background-image: url(email-pattern.png);
        background-size: cover;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        height: 100vh;
        margin-top: 3em;
        margin-left: 3em;
        margin-right: 3em;
    }

    /* stopwatch section (input, stopwatch, buttons) */
    .flex-container {
        background-color: white;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        -webkit-box-shadow: 5px 2px 2px black;
        box-shadow: 5px 2px 2px black;
        border: 1px solid black;
        border-radius: 4px;
        }

    .nameOfWorkInput {
        height: 2em;
        flex-grow: 1;
        }

    .timerWrapper {
        align-self: center;
    }

    .stopwatch {
        padding-left: 1em;
        padding-right: 1em;
    }
    

    /*button*/
    button {
        border-radius: 25px;
        margin: 0.5vh;
        font-family: "Times New Roman", Times, serif;
        font-size: 14px;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }

    button:hover {
        border: solid black 2px;
    }

    .startButtonAnimation {
        animation-name: stopWatchAnimation;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    @keyframes stopWatchAnimation {
        0%   {border-bottom-color: red;}
        15%  {border-left-color: red; border-bottom-color: black;}
        48%  {border-top-color: red;}
        81%  {border-right-color: red;}
        100% {border-bottom-color: red;}
    }


    /* content panel */
    .content {
        margin-top: 2vh;
        padding-left: 2vh;
        padding-bottom: 2vh;
        padding-right: 2vh;
        background-color: white;
        -webkit-box-shadow: 5px 2px 2px black;
        box-shadow: 5px 2px 2px black;
        border: 1px solid black;
        border-radius: 4px;
    }

    .contentHeading {
        display: inline-block;
        margin-bottom: 2vh;
        border-bottom: solid black 1px;
    }

    ol li {
        margin-bottom: 2vh;
    }

    .unbreakableSpan {
        white-space: nowrap;
    }


    @media screen and (max-width: 310px) {
        .timerWrapper {
            display: flex;
            flex-direction: column;
        }
        span, .unbreakableSpan {
            white-space: normal;
            overflow: hidden;
        }
    }

    .clearAllRecords {
        margin-top: 2vh;
    }

    .recordsSummaryHtml {
        min-height: 6vh;
    }


    /* audio */

    audio {
        margin-top: 2vh;
    }

    .responsiveStartAudio, .responsiveStopAudio {
        display: none;
    }

    @media screen and (max-width: 420px) {
        audio {
            display: none;
        }
        .responsiveStartAudio, .responsiveStopAudio {
            display: inline;
        }
    }

    /* navigation */
    nav {
        text-align: center;
    }

    nav ul {
        list-style: none;
    }

    nav ul li {
        display: inline-block;
        margin-left: 2vh;
    }

    nav ul li a {
        color: black;
        text-decoration: none;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }

    nav ul li a:hover {
        border-bottom: solid black 1px;
        color: rgb(114, 116, 117);
    }

    nav ul li a:active {
        color: green;
    }



    /* footer */
    main {
        flex-grow: 1;
    }
    footer {
        border-top: 1px solid gray;
    }