:root {
  --primary: rgb(60,65,70);
  --sidebar: #333;
  --secondary: #6b6b6b;
  --hoverButton: #333;
  --buttonBoxShadow:rgba(67, 67, 67, 0.707);
  --lightColor: #4ebeff;
  --error: #ce0606;
  --success: green;
  --white: rgb(255, 255, 255);
 }

.App {
  /*background-color: rgb(60, 65, 70);*/
  background-color: var(--primary);
  color: var(--white) !important;
  background-repeat: repeat;
  background-size: cover;


}
.btn-secondary{
  background-color: var(--secondary) !important;
  color: var(--white) !important;
}
.btn-dark {
  font-size: 175%;
}

.btn:hover {
  background-color: var(--hoverButton) !important;
  color: var(--white) !important;
}

.hmm .btn-outline-dark:hover{
  box-shadow: -1px -1px 4px 5px var(--buttonBoxShadow) !important;
  border-color:var(--hoverButton);
  
}

.row {
  --bs-gutter-x: 0rem !important;
}

.sc-hTtwUo:hover {
  background: rgba(0, 0, 0, 0.233);
  color: var(--lightColor) !important;
}
.icon-suffix:hover {
  color: var(--lightColor)!important;
}
.icon-suffix{
  color:var(--white)!important;
}
.ihLnEL {
  color: var(--white)!important;
  margin: 10px 0px !important;
}
.sideBar{
  width: 18% !important;
}
